body {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
}

/* Header */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #212121;
  padding: 15px 0 24px 0;
  z-index: 10;
}

.header-logo {
  padding-left: 12px;
  font-size: 20px;
  padding-top: 0px;
  text-transform: uppercase;
  color: #FFF;
}

.header-logo:visited {
  color: #FFF;
}

.header-menu {
  text-align: right;
  margin-top: 10px;
}

.header-menu ul {
  margin-right: 24px;
}
 
.header-menu ul li {
  display: inline-block;
  margin-left: 20px; 
}

.header-menu ul li a {
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 12px;
  line-height: 20px;
  padding: 10px 0;
}

/* Introduction */

.introduction {
  margin: 135px 0 65px 0;
}

.photo {
  background: #000;
  height: 400px;
}

.resume {
  padding-left: 40px;  
}

.resume h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 20px;
}

.resume p {
  text-align: justify;
  font-size: 18px;
}

.resume p:first-of-type {
  margin-bottom: 30px;
}

/* Footer */

.footer {
  width: 100%;
  margin-bottom: 0;
}

.footer-media {
  background: #383838;
  width: 100%;
  padding: 30px;
  text-align: center;
}

.footer-media ul li {
  display: inline-block;
  background: #FFF;
  border-radius: 20px;
  padding: 7px 10px;
  margin: 0 2px;
}

.footer-media ul li a {
  color: #383838;  
}

.footer-media ul li a:visited {
  color: #383838;  
}

.footer-copy {
  padding: 50px;
  background: #000;
  width: 100%;
  color: #4B4B4B;
  text-align: center;
  font-size: 14px;
}

.footer-copy a:visited {
  color: #777777;
}

span .fa.fa-heart {
  padding: 0 2px;
  color: #B10A0A;
}